<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Camera access is needed to scan QR codes and for video calls.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Microphone access is needed for audio and video calls.</string>
</dict>
</plist>
